.ProfileRight>button{
    margin-left: 50px;
    margin-top: 20px;
    width: 200px;
    height: 60px;
    background-color: rgb(31, 156, 224);
    color: white;
    border: none;
    font-size: 22px;
    border-radius: 10px;
    cursor: pointer;
}
.ProfileRight>button:hover{
    cursor: pointer;
    color: rgb(40, 107, 253);
    background: transparent;
    border: 2px solid rgb(40, 107, 253);
  }